@import "variables.styl"
@import "mixins.styl"

// font-face('arca-majora-3-bold', '~@/fonts/arcaMajora/ArcaMajora3-Bold.otf',"truetype" , 'bold')
// font-face('arca-majora-3-heavy', '~@/fonts/arcaMajora/ArcaMajora3-Heavy.otf',"truetype" , 'bold')

// font-face('gt-pressura-bold-web', '~@/fonts/gt-pressura/gt-pressura-bold-web-webfont.ttf',"truetype" , 'bold')
// font-face('gt-pressura-bold', '~@/fonts/gt-pressura/GT-Pressura-Bold.otf',"truetype" , 'bold')
// font-face('gt-pressura-regular', '~@/fonts/gt-pressura/gt-pressura-regular-web-webfont.ttf',"truetype" , 'regular')

// font-face('Raleway-Black', '~@/fonts/raleway/Raleway-Black.ttf',"truetype" , 'Black')
// font-face('Raleway-BlackItalic','~@/fonts/raleway/Raleway-BlackItalic.ttf',"truetype" , 'BlackItalic')

// font-face('Raleway-Bold', '~@/fonts/raleway/Raleway-Bold.ttf',"truetype" , 'Bold')
// font-face('Raleway-BoldItalic', '~@/fonts/raleway/Raleway-BoldItalic.ttf',"truetype" , 'BoldItalic')

// font-face('Raleway-ExtraBold', '~@/fonts/raleway/Raleway-ExtraBold.ttf',"truetype" , 'ExtraBold')
// font-face('Raleway-ExtraBoldItalic.ttf', '~@/fonts/raleway/Raleway-ExtraBoldItalic.ttf',"truetype" , 'ExtraBoldItalic')
// font-face('Raleway-ExtraLight', '~@/fonts/raleway/Raleway-ExtraLight.ttf',"truetype" , 'ExtraLight')

// font-face('Raleway-Italic', '~@/fonts/raleway/Raleway-Italic.ttf',"truetype" , 'Italic')

// font-face('Raleway-Light', '~@/fonts/raleway/Raleway-Light.ttf',"truetype" , 'Light')
// font-face('Raleway-LightItalic', '~@/fonts/raleway/Raleway-LightItalic.ttf',"truetype" , 'LightItalic')

// font-face('Raleway-Medium.', '~@/fonts/raleway/Raleway-Medium.ttf',"truetype" , 'Medium')
// font-face('Raleway-MediumItalic', '~@/fonts/raleway/Raleway-MediumItalic.ttf',"truetype" , 'MediumItalic')

// font-face('Raleway-Regular', '~@/fonts/raleway/Raleway-Regular.ttf',"truetype" , 'Regular')

// font-face('Raleway-SemiBold', '~@/fonts/raleway/Raleway-SemiBold.ttf',"truetype" , 'SemiBold')
// font-face('Raleway-SemiBoldItalic', '~@/fonts/raleway/Raleway-SemiBoldItalic.ttf',"truetype" , 'SemiBoldItalic')

// font-face('Raleway-Thin', '~@/fonts/raleway/Raleway-Thin.ttf',"truetype" , 'Thin')
// font-face('Raleway-ThinItalic', '~@/fonts/raleway/Raleway-ThinItalic.ttf',"truetype" , 'ThinItalic')

font-face('Roboto-Bold', '~@/fonts/roboto/Roboto-Bold.ttf',"truetype" , 'Bold')

font-face('Roboto-Regular', '~@/fonts/roboto/Roboto-Regular.ttf',"truetype" , 'Regular')

// .row
//   --bs-gutter-x 0.1em

html,body{
    overflow-x: hidden;
}

input[type=radio], input[type=checkbox] 
  margin: 4px 3px 3px !important;
