
  black = #212324 ;
  white = #ffffff ;
  primary-pee = #C0B170;
  course-online = #E5101E;
  bg-newsletter = #E1E1E1;
  bg-black = #252A2D;
  bg-form = #262B2D;
  primary-salud = #50BDB7 ; 
  secondary-salud = #3F4474 ;
  light-salud = #D3D4E6 ;
  primary-energia = #89898A ;
  secondary-energia = #FFD074 ;
  light-energia = #DDD2C3 ;
  primary-logistica = #80A0B5 ;
  secondary-logistica = #054662 ;
  light-logistica = #DBDBDB ;
  primary-b2b = #476BA5 ;
  secondary-b2b = #274668 ;
  light-b2b = #DBE0E6 ;
  primary-ti = #5D6F79 ;
  secondary-ti = #57A9D1 ;
  light-ti = #D5D6DA ;
  primary-marketing = #09484F ;
  secondary-marketing = #35B3CC ;
  light-marketing = #D7EBF2 ;
  primary-finanzas = #8395A1 ;
  secondary-finanzas = #051D43 ;
  light-finanzas = #C6D1D7 ;
  primary-administracion = #7D6247 ;
  secondary-administracion = #CE920F ;
  light-administracion = #DCD2C6 ;
  backg-footer = #6B6B6B;
  bg-header = #191D1F;
  


media_queries = {
  mobile  : "(max-width: 600px)",
  tablet  : "only screen and (min-width: 601px) and (max-width: 800px)",
  ipad  : "only screen and (min-device-width : 768px) and (max-device-width : 1024px)",
  desktop : "only screen and (min-width: 801px)",
  desktop-lap : "only screen and (max-width: 1700px)",
  xs : "(max-width: 575.98px)",
  sm : "only screen and (min-width: 576px) and (max-width: 767.98px)",
  md : "only screen and (min-width: 768px) and (max-width: 991.98px)",
  lg : "only screen and (min-width: 992px) and (max-width: 1199.98px)",
  xl : "only screen and (min-width: 1200px)",
  lapt : "only screen and (min-width: 1200px) and (max-width: 1700px)",
  cell-sm : "(max-width: 767px) "
}